<div id="user">
  <p>{{ user.name }}</p>
  <p>{{ user.age }}</p>
</div>
<form>
  <p>
    <label for='name'>Name</label>
    <input type='text' name='name' id='name'>
  </p>
  <p>
    <label for='artist'>Artist</label>
    <input type='text' name='artist' id='artist'>
  </p>
  <button id="addSong" data-id {{ user.id }}>Add Song</button>
</form>
<ul id="listSongs">
  {{#each user.pets}}
  <li>Name: {{this.dataValues.name}} | Name: {{this.dataValues.artist}}</li>
  {{/each}}
</ul>

<script src='../dashboard.js'></script>